<html>
  <head>
    <title>Hacker News</title>
    <link rel="stylesheet" href="/public/css/base.css" />
  </head>
  <body>
  {{helper.formatDate(1541408770965)}}
    <ul class="news-view view">
      {% for item in list %}
        <li class="item">
          <a href="{{ item.id }}">{{ item.content }}</a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>